<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quesio | 404</title>
    <link rel="stylesheet" href="assets/vendors/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="assets/images/Q.ico">
</head>

<body>
    <main class="page-error">
        <div class="container">
            <section class="error-section">
                <h1 class="error-code">404</h1>
                <h2 class="m-4">Page Not Found !</h2>
                <p class="error-message">Sorry, The Page You Are Looking For Could Not Be Found.</p>
                <img src="assets/images/404.png" alt="page not found" class="error-img">
                <a href="index.html" class="btn btn-info btn-error-action">Return Home</a>
            </section>
        </div>
    </main>
    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <script src="assets/vendors/popper.js/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>