<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quesio | Reset Password</title>
    <link rel="stylesheet" href="/assets/vendors/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/Q.ico">
</head>

<body
    style="background-image: linear-gradient(45deg, #c395e5,  #6206a8); padding-left: 225px; padding-top: 60px; padding-bottom: 50px; overflow: hidden;">

    <main class="page-auth">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col-md-10">
                    <section class="auth-wrapper">
                        <div class="row w-100 mx-0">
                            <div class="col-lg-5 mx-auto border border-light rounded-lg p-4 shadow-lg bg-white">

                                <div class="row w-300">
                                    <div class="col-md-2 mb-2 ">
                                        <button type="button" class="btn btn-primary btn-rounded btn-icon"
                                            style="padding: 25%;">
                                            <a href="/">
                                                <img src="/assets/images/home.png" style="height: 24px;;"
                                                    alt="App store"></a>
                                        </button>
                                    </div>
                                    <div class="col-md-10">
                                        <h2 class="auth-section-title mx-3">Reset Password</h2>
                                    </div>
                                </div>
                                <p class="auth-section-subtitle text-center my-4">Enter Your Registered Email ID To Get
                                    The Reset Password Link.</p>
                                <form action="/login" method="POST">
                                    <div class="form-group">
                                        <label for="email">Email ID : <sup>*</sup></label>
                                        <input type="email" class="form-control" id="email" name="email"
                                            placeholder="support@quesio.com" required>
                                    </div>

                                    <div class="text-center mt-4">
                                        <button class="btn btn-primary btn-auth-submit" type="submit">Reset Now</button>
                                    </div>
                                </form>

                                <div class="text-center">
                                    <p class="mb-3">
                                        Back To
                                        <a href="/login" class="text-dark font-weight-bold ">Login</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>

    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <script src="assets/vendors/popper.js/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>